@model IEnumerable<Shop.DTOs.ItemResultDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>
                Título
            </th>
            <th>
                Precio
            </th>
            <th>
                Foto
            </th>
            <th>
                Envío Gratis
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Thumbnail)"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FreeShipping)
            </td>
            <td>
                @Html.ActionLink("Detalles", "Details", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
